/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa; /* Light gray background color for the app */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App Specific Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Dark blue background for header */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; /* Light blue color for links */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar Styles */
.navbar {
  border-bottom: 3px solid #007bff; /* Blue border for the navbar */
}

/* Gallery Card Styles */
.gallery-card {
  transition: transform .2s; /* Animation for transform on hover */
}

.gallery-card:hover {
  transform: scale(1.05); /* Slightly enlarge cards on hover */
}

.card-img-top {
  height: 200px;
  object-fit: cover; /* Ensures images are well-fitted in the card */
}

.card-body {
  background-color: #ffffff;
  border-top: 1px solid #dedede; /* Light gray border at the top of card body */
}

.card-title {
  color: #007bff; /* Blue color for card titles */
  font-weight: bold; /* Bold font for card titles */
}

.card-text {
  color: #666; /* Dark gray color for card text */
  font-size: 0.9rem; /* Slightly smaller font size for card text */
}

/* Form Control Styles */
.form-control {
  border-radius: 20px;
  border: 2px solid #007bff; /* Blue border for form controls */
}

.input-group-text, .btn-outline-secondary {
  border-radius: 20px;
  background-color: #007bff; /* Blue background for input group text and buttons */
  color: #ffffff; /* White text color */
  border: none; /* No border for input group text and buttons */
}
